doctype


include mixins.jade

html
    head
        meta(charset="utf-8")
        title= 'Blockstack Core'
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        style!= self.css
    body.preload
        #nav-background
        div.container-fluid.triple
            .row
                block nav
                    +Nav(true)

                .content
                    #right-panel-background
                    .middle
                        header
                            h1#top!= 'Getting Started'
                        p!= 'Welcome to this deployment of Blockstack Core v{{server_info.server_version}}. You can read the documentation and make RESTful calls to this node.'
                        p
                            table
                                tr
                                  td!= 'Consensus hash'
                                  td!= '{{server_info.consensus}}'
                                tr

                                  td!= 'Last block seen'
                                  td!= '{{server_info.last_block_seen}}'
                                tr
                                  td!= 'Last block processed'
                                  td!= '{{server_info.last_block_processed}}'
                        p!= 'Blockstack Core is open-source software released under a GPLv3 license. The code for this API is <a href="https://github.com/blockstack/blockstack-core/tree/master/api">available on Github</a> and you can deploy your own nodes by following <a href="https://github.com/blockstack/blockstack-core/tree/master/api">these instructions</a>.'
                    block content
                        +ContentTriple(true)

                    .middle
                        p.text-muted(style="text-align: center;")

        script: include scripts.js

        if self.livePreview
            script(src="/socket.io/socket.io.js")
            script.
                var socket = io();
                socket.on('refresh', refresh);
                socket.on('reconnect', function () {
                    socket.emit('request-refresh');
                });
